.section-more {
  font-family: AeroportMedium; 
}

.section-more .wrapper .image-items {
  display: flex;
  width: 100%;
  height: 65.92rem;
  margin-bottom: 2.1rem;
  border: 0.1rem solid var(--image-border);
}

.section-more .wrapper .image-items .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section-more .wrapper .image-items .left .image {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 40rem;
}

.section-more .wrapper .image-items .left .image img {
  width: 100%;
}

.section-more .wrapper .image-items .left .text {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  font-size: 4.16rem;
}

.section-more .wrapper .image-items .left .text span {
  margin-top: -2rem;
  margin-left: 2rem;
}

.section-more .wrapper .image-items .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.section-more .wrapper .image-items .right .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.52rem;
}

.section-more .wrapper .image-items .right .icon:first-child {
  border-right: 0.1rem solid var(--image-border);
}

.section-more .wrapper .image-items .right .icon img {
  width: 13rem;
  margin-bottom: 5rem;
}

.section-more .wrapper .image-items .right .icon p {
  font-family: AeroportMedium;
  font-size: 2.03rem;
}